<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KAMILL.Properties.Settings.DtbConnectionString" connectionString="Data Source=LAPTOP-40GP3OKP\SQLEXPRESS;Initial Catalog=Dtb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="KAMILL.Properties.Settings.KamilConnectionString"
            connectionString="Data Source=LAPTOP-40GP3OKP\SQLEXPRESS;Initial Catalog=Kamil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>